body {
    margin: 10px 5%;
    /*margin-bottom: 100px;*/
    font-family: "Bookman Old Style", serif;
}


/*since navigation is shorter (height wise) than the rest of the header, must be set further from the top*/
.navigation {
    padding-top: 15px;
}

.navigation a {
    color: #413A32;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    padding: 0 5%;
}

#social_icons a {
    float: right;
    padding: 0;
}

#logo a {
    text-decoration: none;
    float: left;
}

a:hover {
    background-color: #b29d89;
    border-radius: 15px;
}

a.active {
    background-color: #D1CABA;
    border-radius: 15px;
}

#logo h1 {
    font-size: 50px;
    margin: 0 0 0;
    color: darkgreen;
}

/*float the columns in line with each other left - right*/
.top_bar_column {
    float: left;
    width: 33.33%;
}

#header_break {
    border: 1px solid #394648;
    margin-bottom: 5px;
}

.footer a {
    color: #413A32;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #D1CABA;
    color: #413A32;
}