body {
    margin: 10px 5%;
    font-family: "Bookman Old Style", serif;
    color: #413A32;
}


/*since navigation is shorter (height wise) than the rest of the header, must be set further from the top*/
.navigation {
    padding-top: 15px;
}

.navigation a {
    color: #413A32;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    padding: 0 5%;
}

#social_icons a {
    float: right;
    padding: 0;
}

#logo a {
    text-decoration: none;
    float: left;
}

.top_bar_column a:hover {
    background-color: #b29d89;
    border-radius: 15px;
}

a.active {
    background-color: #D1CABA;
    border-radius: 15px;
}

#logo h1 {
    font-size: 50px;
    margin: 0 0 0;
    color: darkgreen;
}

.top_bar_column {
    float: left;
    width: 33.33%;
}

#header_break {
    border: 1px solid #394648;
    margin-bottom: 5px;
}


.background_image {
    min-height: 60vh;
    background-image: url("bakery_display.jpg");
    /*https://www.pexels.com/photo/donuts-and-bagel-display-205961/*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.specials_signup_column {
    width: 33.33%;
    text-align: center;
    float: left;
    margin-bottom: 50px;
}

.specials_signup_column h1 {
    font-size: 50px;
    color: #413A32;
    margin: 0;
}

.specials_signup_column input {
    margin-bottom: 5px;
}


.reviews_column {
    width: 66.66%;
    float: right;
    text-align: center;
}

.reviews_column p {
    font-size: xx-large;
}

.footer a {
    color: #413A32;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.footer a:hover {
    background-color: #b29d89;
    border-radius: 15px;
}


.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #D1CABA;
    color: #413A32;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
    height: 350px;
}

.column a {
    text-decoration: none;
    color: #413A32;
}

.column a:visited {
    color: #413A32;
}

.title {
    text-align: center;
    color: darkgreen;
    font-size: 75px;
}

.display_text {
    font-size: 50px;
    text-align: center;
}

.display_text b {
    color: darkgreen;
}

.specials_signup {
    text-align: center;
    margin-bottom: 60px;
}


.specials_signup input {
    margin-bottom: 5px;
}